/* #region main styles */
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hidden {
  display: none;
}
/* #endregion main styles */

/* #region general */
.container {
  max-width: 411px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
    width: 100%;
    padding: 0 21px;
  }
}
/* #endregion general styles */

/* #region header */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}
.header-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.9%;
  color: #173a56;
  gap: 16px;
}
.navigation,
.nav-menu {
  display: none;
}
.header-burger {
  display: block;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}
.header-burger-icon {
  fill: #173a56;
}
@media screen and (min-width: 768px) {
  .header-burger {
    display: none;
  }
  .header .container {
    box-shadow: none;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 30px;
    margin-left: 237px;
    padding: 26px 0;
  }
  .nav-list-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
  }
  .current {
    font-weight: 600;
  }
  .nav-menu {
    display: flex;
    margin-left: auto;
    gap: 21px;
  }
  .nav-menu-btn-in {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    width: 105px;
    height: 42px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    background-color: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu-btn-up {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background-color: #02897a;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu-btn-in:hover,
  .nav-menu-btn-in:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #e4e9f3;
  }
  .nav-menu-btn-up:hover,
  .nav-menu-btn-up:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      01px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #026e62;
  }
}
/* #endregion header */

/* #region hero */
.hero {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 46px;
}
.hero-inform {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-inform-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
  max-width: 350px;
  margin-bottom: 16px;
  text-align: center;
}
.hero-inform-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 19px;
}
.hero-inform-input {
  border: 1px solid #eaeaea;
  border-radius: 100px;
  width: 346px;
  height: 66px;
  padding-left: 23px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
.form-cover {
  position: relative;
  margin-bottom: 24px;
}
.hero-inform-btn {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 100px;
  width: 122px;
  height: 50px;
  background: #02897a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-inform-btn:hover,
.hero-inform-btn:focus {
  background-color: #026e62;
}
.hero-inform-users {
  display: flex;
  align-items: center;
  gap: 9px;
}
.user-avatars {
  display: flex;
}
.avatar {
  border-radius: 50%;
  border: 4px solid #fff;
  object-fit: cover;
  margin-left: -18px;
}
.hero-inform-users {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 88px;
}
.hero-users-text {
  font-weight: 400;
  font-size: 14px;
}
.accent {
  font-weight: 500;
  color: #02897a;
}
.hero-inform-input:hover,
.hero-inform-input:focus-within {
  border-color: #02897a;
  outline: none;
}
.hero-inform-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.03em;
  color: #22343d;
}
@media screen and (min-width: 768px) {
  .hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 0 auto;
    padding-bottom: 66px;
  }
  .hero-inform-title {
    font-weight: 700;
    font-size: 40px;
    max-width: 380px;
    text-align: left;
    margin-bottom: 24px;
  }
  .hero-inform-text {
    font-weight: 400;
    font-size: 18px;
    max-width: 535px;
    margin-bottom: 24px;
  }
  .hero-inform {
    max-width: 510px;
    align-items: start;
  }
  .hero-inform-input {
    border: 1px solid #eaeaea;
    border-radius: 100px;
    width: 469px;
    height: 66px;
  }
  .hero-inform-btn {
    width: 118px;
  }
}
/* #endregion hero */

/* #region content */
.content {
  padding-bottom: 100px;
  min-width: 411px;
}
.content-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 8px;
  text-align: center;
}
.content-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
  max-width: 350px;
}
.content-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  row-gap: 32px;
  column-gap: 32px;
  margin-bottom: 32px;
}
.content-item {
  border-radius: 8px;
  border: 1px solid #dedede;
}
.content-item-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.content-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
  max-width: 465px;
}
.content-item-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
  max-width: 295px;
}
.accent-item-text {
  font-weight: 700;
}
.content-cover {
  padding: 22px 27px 40px;
}
.content-bootom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.content-bootom-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #22343d;
}
.content-bootom-icon {
  fill: #2e3a59;
}
.content-bootom-icon:hover,
.content-bootom-icon:focus {
  fill: #02897a;
}
@media screen and (min-width: 768px) {
  .content {
    padding-bottom: 100px;
    min-width: 1160px;
  }
  .content-list {
    flex-direction: row;
  }
  .content-text {
    max-width: 100%;
  }
  .content-item {
    width: calc((100% - 32px * 2) / 3);
  }
  .content-item-subtitle {
    max-width: 100%;
  }
}
/* #endregion content */

/* #region contact */
.contact {
  width: 362px;
  margin: 0 auto;
  margin-bottom: 199px;
}
.contact-title-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 362px;
}
.contact-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 17px;
}
.contact-text {
  max-width: 300px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  text-align: center;
  color: #374754;
  margin: 0 auto;
  margin-bottom: 65px;
}
.contact-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  margin-bottom: 60px;
}
.contact-social-link {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #edfffc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-social-icon {
  fill: transparent;
  stroke-width: 2px;
  stroke: #02897a;
}
.contact-social-link:hover,
.contact-social-link:focus {
  background-color: #02897a;
}
.contact-social-link:hover .contact-social-icon,
.contact-social-link:focus .contact-social-icon {
  stroke: #edfffc;
}
.contact-mapa {
  width: 362px;
  height: 343px;
  margin-bottom: 100px;
}
.contact-input-cover {
  max-width: 344px;
}
.contact-form {
  border: none;
  width: 344px;
}
.contact-form-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 45px;
}
.contact-item {
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  padding: 19px 20px;
  width: 344px;
  height: 54px;
  background: #f5f5f5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 45px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  padding-left: 20px;
}
.contact-textarea {
  border: 1px solid #e8e8e8;
  padding: 23px 20px;
  width: 344px;
  height: 193px;
  border-radius: 0;
  margin-bottom: 32px;
}
.contact-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #fff;
  text-align: center;
  border-radius: 35px;
  padding: 18px 38px;
  width: 145px;
  height: 52px;
  background: #02897a;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.contact-btn:hover,
.contact-btn:focus {
  background: #026e62;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    01px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.contact-form ::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.06667;
  letter-spacing: 0.01em;
  color: #22343d;
}
.contact-input-cover:hover .contact-item,
.contact-input-cover:focus .contact-item,
.contact-input-cover:focus-within .contact-item {
  border-color: #02897a;
  outline: none;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 50px 0px;
    width: 871px;
  }
  .contact-title-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 871px;
  }
  .contact-mapa {
    width: 871px;
    height: 323px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .contact-form {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 52px 50px;
    width: 871px;
  }
  .contact-item {
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    padding: 19px 20px;
    width: 768px;
    height: 54px;
    background: #f5f5f5;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 45px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-textarea {
    border: 1px solid #e8e8e8;
    padding: 23px 20px;
    height: 193px;
    border-radius: 0;
    margin-bottom: 32px;
  }
}
/* #endregion contact */

/* #region footer */
.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 93%;
  color: #173a56;
  gap: 16px;
  margin-bottom: 25px;
}
.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  margin-bottom: 31px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #edfffc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  stroke-width: 2px;
  stroke: #02897a;
  fill: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list {
  margin-bottom: 32px;
}
.footer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.2;
  color: #22343d;
  margin-bottom: 32px;
}
.footer-form-con {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-form {
  display: flex;
  align-items: center;
  width: 325px;
  height: 48px;
  background: #fff;
  margin-bottom: 21px;
}
.footer-form-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 34px;
}
.footer-input-cover {
  position: relative;
}
.footer-input-text {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  background: #fff;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input-text::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}
.footer-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #02897a;
}
.footer-input-text:hover,
.footer-input-text:focus-within,
.footer-input-text:focus {
  border: 1px solid #02897a;
  outline: none;
}
.footer-input-cover:hover .footer-input-icon,
.footer-input-cover:focus-within .footer-input-icon {
  fill: #026e62;
}
.footer-btn {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 131px;
  height: 39px;
  background: #02897a;
  display: block;
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 44px;
}
.footer-btn:hover,
.footer-btn:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    01px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #026e62;
}
.footer-bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #22343d;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 45px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #02897a;
}
.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  stroke: #edfffc;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
  }
  .footer-nav {
    align-items: start;
  }
  .footer-logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
    gap: 16px;
    margin-bottom: 18px;
    margin-right: 146px;
  }
  .footer-social-list {
    justify-content: flex-start;
  }
  .footer-list {
    margin-right: 129px;
    text-align: center;
  }
  .leg {
    margin-right: 83px;
  }
  .footer-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
  }
  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 219%;
  }
  .footer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 219%;
    color: #22343d;
  }
  .footer-form-con {
    margin-left: auto;
    align-items: start;
  }
  .footer-form {
    display: flex;
    width: 325px;
    height: 48px;
    background: #fff;
    margin-bottom: 25px;
  }
  .footer-form-title {
    max-width: 280px;
    margin: 0;
    margin-bottom: 30px;
    text-align: left;
  }
  .footer-btn {
    margin: 0;
  }
}
/* #endregion footer */
